@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html {
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
}

/* General Styling */
body {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(135deg, #3c035e, #1f2df1);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
}

/* Content Layout */
.content {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.bar {
    color: white;
}

/* Sidebar Styling */
#standardSidebar {
    display: flex;
    justify-content: flex-start;
    left: 0;
    top: 0;
}

.sidebar {
    background: #2c3e50;
    color: white;
    display: flex;
    padding: 20px 0;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: 0.5s;
    flex-direction: row;
    justify-content: space-between;
}

.active {
    color: #1abc9c;
}

.buttons {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.sidebar i {
    cursor: pointer;
}

.sidebar i {
    margin: 20px 0;
    font-size: 24px;
    transition: transform 0.3s;
}

.sidebar i:hover {
    transform: scale(1.2);
}

.sidebar li a {
    margin: 20px 0;
    font-size: 24px;
    transition: 0.3s;
}

.sidebar li a:hover {
    transform: scale(1.2);
}

/* Playlist Container */
#playlist {
    text-wrap: nowrap;
    width: 0;
    height: 100vh;
    background: #34495e;
    overflow-x: hidden;
    transition: width 0.5s ease;
    z-index: 1001;
}

#playlistfixed {
    text-wrap: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background: #34495e;
    overflow-x: hidden;
    transition: width 0.5s ease;
    z-index: 1001;
}

.playlist.open {
    width: 30vw !important;
}

#playlistClose {
    padding-right: 4vw;
}

#playlistClose:hover {
    transform: translate(-10%, 0)
}

.widelist.open {
    width: 100vw !important;
}

/* Playlist Content */
.playlist .mp3-list {
    padding: 20px;
    color: white;
}

.playlist h3 {
    margin: 0 0 10px;
    font-size: 20px;
    text-align: center;
    color: #ecf0f1;
}

.playlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.playlist ul li {
    padding: 10px;
    border-bottom: 1px solid #7f8c8d;
    color: #ecf0f1;
    cursor: pointer;
}

.playlist ul li:hover {
    background: #1abc9c;
    color: white;
}


/* Overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999;
}

#overlay.show {
    visibility: visible;
    opacity: 1;
}


/* Responsive Design */
@media screen and (max-width: 768px) {
    .sidebar i {
        font-size: 30px;
    }
}


/* Track Content */
.trackContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Player Layout */
.player {
    flex: 1;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.cover {
    flex: 1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.record {
    max-height: 80vw;
    max-width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 19px auto;
    border-radius: 50%;
    height: fit-content;
    background-image: url("https://static.vecteezy.com/system/resources/previews/009/313/617/non_2x/vinyl-record-vector-illustration-isolated-on-white-background-free-png.png");
    background-size: cover;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    aspect-ratio: 1;
}

.imageContainer {
    width: 34%;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    display: flex;
    text-align: center;
}

/* Cover Image */
#coverImage {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.imageContainer img::before {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(10px);
    z-index: 10;
}

.recordLabel {
    position: fixed;
    max-width: 23%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #ffffff;
}

#labelSticker {
    width: 23%;
    border-radius: 50%;
    aspect-ratio: 1;
    z-index: 1;
    background-image: url("ben-wicks-uGVuJNhhuuo-unsplash.jpg");
    background-size: 2000%;
    background-position: center;
    filter: url("#sharpBlur");
}

#albumName {
    transform: translate(-50%, -50%);
}

#artistName {
    transform: translate(-50%, 150%);
    font-size: 12px;
}

.hideSvgSoThatItSupportsFirefox {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

*,
::before,
::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hole {
    color: #1f2df1;
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Audio Player */
audio {
    width: 100%;
    max-width: 400px;
    outline: none;
}

/* Controls Styling */
.controls {
    margin-top: 20px;
}

.bar {
    flex: 1;
    display: flex;
    justify-content: center;
}

.progressBar {
    flex: 4;
    display: block;
    position: relative;
    width: 100%;
    /* Or any specific width */
    height: 10%;
    /* Progress bar height */
    cursor: pointer;
}

#progressbar {
    width: 100%;
}

.playhead {
    position: absolute;
    top: 0;
    height: 0;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #0075ff;
    transform: translate(-0.75vh, 0.25vh);
    transition: 0.1s;
}

.progressBar:hover .playhead {
    height: 1.5vh;
}

#currentTime {
    flex: 1;
}

#duration {
    flex: 1;
}

.controls i {
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
}

.controls i:hover {
    color: #1abc9c;
}

/* Main Content Layout */
.mainContent {
    padding: 20px;
    flex: 1;
    background: linear linear-gradient(135deg, #9206e4, #1f2df1);
    color: #34495e;
    text-align: center;
    border-radius: 10px;
    max-height: 100vh;
    max-width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mainContent::-webkit-scrollbar {
    display: none;
}

.mainContent h1 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Articles Container */
.articlesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: stretch;
    max-width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.articlesContainer::-webkit-scrollbar {
    display: none;
}

hr.rounded {
    border: none;
    border-top: 3px solid #7f8c8d;
    border-radius: 5px;
    width: 50%;
}

/* Article Styling */
.infoCard {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    max-width: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.infoCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.infoCard h2 {
    font-size: 24px;
    color: #2980b9;
    margin-bottom: 15px;
}

.infoCard p {
    font-size: 16px;
    color: #34495e;
    margin-bottom: 10px;
    line-height: 1.5;
}

.infoCard ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
}

.infoCard ul li {
    margin: 10px 0;
    font-size: 14px;
    color: #2c3e50;
}

/* Responsive Design for Articles */
@media screen and (max-width: 768px) {
    .infoCard {
        font-size: 14px;
        padding: 15px;
    }

    .infoCard h2 {
        font-size: 20px;
    }

    .infoCard ul li {
        font-size: 12px;
    }

    .articlesContainer {
        grid-template-columns: 1fr;
    }
}

